<md-card>
    <button md-raised-button class="z-depth-5" (click)="navigate('prev')">
        <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <button md-raised-button class="z-depth-5" (click)="navigate('next')">
        <md-icon>keyboard_arrow_right</md-icon>
    </button>
    <button md-raised-button color="primary" class="z-depth-5" (click)="navigate('today')">
        Today
    </button>
    <md-button-toggle-group #group="mdButtonToggleGroup" >
        <md-button-toggle (click)="view('listDay')">
            list Day
        </md-button-toggle>
        <md-button-toggle (click)="view('listWeek')">
            list Week
        </md-button-toggle>
        <md-button-toggle (click)="view('month')" checked="true">
            month
        </md-button-toggle>
    </md-button-toggle-group>
    <div style="clear: both"></div>
</md-card>
<div #appFullCalendar class="app-full-calendar z-depth-5 {{fullCalendarClass || ''}}"></div>