md-button-toggle-group{
  height: 37px;
}

button{
  margin-right: 5px;
}

button.prev, button.next{
  width: 30px;
}


md-card{
  margin-bottom: 10px;
}

md-card .right-group{
  text-align: right;
}
md-card .left-group{
  display: flex;
  align-items: center;
}
