<md-card>
    <md-card-content>
    <div class="row">
    <div class="col-md-6 left-group">
        <button md-mini-fab color="primary" (click)="navigate('prev')"><md-icon>keyboard_arrow_left</md-icon></button>
        <button md-mini-fab color="primary" (click)="navigate('next')"><md-icon>keyboard_arrow_right</md-icon></button>
        <button md-raised-button color="primary" class="z-depth-5" (click)="navigate('today')">Today</button>
    </div>

    <div class="col-md-6 right-group">
        <md-button-toggle-group #group="mdButtonToggleGroup" >
            <md-button-toggle (click)="changeView('listDay')" checked="{{listDayChecked}}">
                list Day
            </md-button-toggle>
            <md-button-toggle (click)="changeView('listWeek')">
                list Week
            </md-button-toggle>
            <md-button-toggle (click)="changeView('month')" checked="true">
                month
            </md-button-toggle>
        </md-button-toggle-group>
    </div>
    </div>
    </md-card-content>
    <md-divider _ngcontent-c39="" class="mat-divider"></md-divider>
    <md-card-content>
        <div #appFullCalendar class="app-full-calendar z-depth-5 {{calendarClass || ''}}"></div>
    </md-card-content>
</md-card>