@import 'main';

html, body{
  margin: 0;
  width: 100%;
  height: 100%;

}

a {
  text-decoration: none !important;
  transition: color 0.2s ease;
}

.fa-108x {
  font-size: 0.8em
}

.fa-107x {
  font-size: 0.7em !important;
}

.app-spinner{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 120px;
  top: 20%;
  z-index:10000;
}

.app-progress-bar{
  position: absolute;
  left: 0;
  right: 0;
  top:1px;
}

.toolbar-user-menu{
  max-width:400px !important;
  width:400px;
}

.toolbar-user-menu .mat-menu-content{
  padding: 0px;
}

.mat-divider {
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0;
}

.mat-sidenav-container .page-card{
  margin: 0px;
  width: 100%;
}

.page-card .mat-card-title {
  font-size: 24px !important;
  font-weight: 400;
}

.active-notifications .td-notification-count{
  background-color:#66dd66;
}

button.mat-raised-button_small_30 {
  line-height: 30px;
  min-width: 70px;
}

.profile-page .mat-list-item-content{
  height: 80px !important;
}

.app-full-calendar{
  .fc-day-grid-event .fc-content{
    //white-space: normal !important;
  }
  .fc-header-toolbar {
    text-transform: capitalize
  }
}

.mat-card{
  padding: 0px;
  margin: 0px !important;
}


/*Left sidebar*/
.sidebar-list {
  margin-top: 10px;
  padding: 0;

}
.sidebar-list-item a,
md-sidenav .sidebar-list .sidebar-list-item .td-expansion-panel a{
  display: block;
  height: 42px;
  padding-left: 18px;
  text-shadow: none;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 47px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;

}

.sidebar-list-item a div{
  float: left;
}

.sidebar-list .sidebar-list-item a:hover,
.sidebar-list .td-expansion-panel .sidebar-list-item a:hover .mat-icon {
  color: mat-color($primary);
}

.sidebar-list-item a:hover:after{
  position: absolute;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  content: "";
  background-color: mat-color($primary);
  width: 3px;
  height: 42px;
}
.sidebar-list-item a.active:hover {
  color: mat-color($accent,A100);
}

.sidebar-list-item a.active{
  background-color: mat-color($primary);
}

.sidebar-list-item a .mat-icon {
  margin-right: 18px;
  font-size: 20px;
  float: left;
  line-height: 45px;
}

.sidebar-list-item {
  display: block;
  position: relative;
  float: none;
  padding: 0;
}

.sidebar-list .sidebar-list-item .td-expansion-panel,
.sidebar-list .sidebar-list-item .td-expansion-panel div .mat-icon,
.sidebar-list-item a{
  color: mat-color($accent,A100);
}

.sidebar-list .sidebar-list-item .td-expansion-label .mat-icon{
  margin-right: 12px;
  font-size: 20px;
}

.sidebar-list .sidebar-list-item .td-expansion-panel .md-subhead{
  white-space: nowrap;
  font-size: 13px !important;
}

.sidebar-list .sidebar-list-item .td-expansion-panel{
  background-color: mat-color($accent);
}