@import 'main';

html, body{
  margin: 0;
  width: 100%;
  height: 100%;

}

a {
  text-decoration: none !important;
  transition: color 0.2s ease;
}

.fa-108x {
  font-size: 0.8em
}

.fa-107x {
  font-size: 0.7em !important;
}

.app-spinner{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 120px;
  top: 20%;
  z-index:10000;
}

.app-progress-bar{
  position: absolute;
  left: 0;
  right: 0;
  top:1px;
}

.toolbar-user-menu{
  max-width:400px !important;
  width:400px;
}

.toolbar-user-menu .mat-menu-content{
  padding: 0px;
}

.mat-divider {
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0;
}

.mat-sidenav-container  .page-card{
  margin: 0px;
  width: 100%;
}

.page-card .mat-card-title {
  font-size: 24px !important;
  font-weight: 400;
}

.active-notifications .td-notification-count{
  background-color:#66dd66;
}

button.mat-raised-button_small_30 {
  line-height: 30px;
  min-width: 70px;
}

.profile-page .mat-list-item-content{
  height: 80px !important;
}


.fc-day-grid-event .fc-content{
  white-space: normal !important;
}

