/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!/var/google-keys
/var/google-keys/*
!/var/jwt
/var/jwt/*
/vendor/
/web/bundles/
/web/images/
.idea/
.credentials/
client_secret.json
client_secret_951933054664-u2fh085f2769o1qm7ab9ev66rgqufjv8.apps.googleusercontent.com.json
quickstart.php