<div class="avatar" (click)="openMenu()">
    <div [mdMenuTriggerFor]="toolbarUserMenu" class="toolbarUserMenuTrigger"></div>
    <app-avatar [imageUrl]="currentUser.picture" avatarClass="top-profile-avatar"></app-avatar>
</div>

<md-menu #toolbarUserMenu="mdMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="toolbar-user-menu">
    <md-card>
        <md-card-content>
            <div class="row" >
                <div class="col-md-4">
                    <app-avatar [imageUrl]="currentUser.picture" [useRound]="true" size="100px"></app-avatar>
                </div>
                <div class="col-md-8" >
                    <div class="username md-subhead">{{currentUser.name}}</div>
                    <div class="email">{{currentUser.email}}</div>
                    <div>
                        <a md-raised-button color="primary" class="z-depth-5" [routerLink]="['/page/profile']">
                            Profile settings
                        </a>
                    </div>
                </div>
            </div>
        </md-card-content>

        <md-card-actions class="text-right">
            <button md-raised-button class="z-depth-5" bgcolor="block-bg" (click)="logout()">
                <i fa name="sign-out" [size]=1></i>Logout
            </button>
        </md-card-actions>
    </md-card>
</md-menu>