<!--<div class="btn-group user-menu" dropdown placement="bottom right">-->
    <!--<div class="avatar" dropdownToggle>-->
        <!--<app-avatar [imageUrl]="currentUser.picture" avatarClass="top-profile-avatar"></app-avatar>-->
    <!--</div>-->
    <!--<ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">-->
        <!--<li class="dropdown-item"><i class="dropdown-arr"></i></li>-->
        <!--<li role="menuitem">-->
            <!--<app-avatar [imageUrl]="currentUser.picture" [useRound]="false" size="100px"></app-avatar>-->
            <!--<div class="title">{{currentUser.name}}</div>-->
            <!--<div class="subtitle">USER</div>-->
        <!--</li>-->
        <!--<li class="divider dropdown-divider"></li>-->
        <!--<li role="menuitem" class="actions">-->
            <!--<button md-raised-button  color="primary" class="z-depth-5" (click)="logout()">-->
                <!--Logout <i fa [name]="'sign-out'" [size]=1></i>-->
            <!--</button>-->
        <!--</li>-->
        <!--&lt;!&ndash;<div class="dropdown-header">Home</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<li role="menuitem">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="dropdown-item" href="#">&ndash;&gt;-->
                <!--&lt;!&ndash;<i fa [name]="'gear'" [size]=1></i>Settings&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li role="menuitem">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="dropdown-item" href="#">&ndash;&gt;-->
                <!--&lt;!&ndash;<i fa [name]="'envelope-open'" [size]=1></i>Messages&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="divider dropdown-divider"></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li role="menuitem">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="dropdown-item" href="javascript:void(0);" (click)="logout()">&ndash;&gt;-->
                <!--<i fa [name]="'sign-out'" [size]=1></i>Logout-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--</ul>-->
<!--</div>-->
<div class="avatar" (click)="openMenu()">
    <div [mdMenuTriggerFor]="toolbarUserMenu" class="toolbarUserMenuTrigger"></div>
    <app-avatar [imageUrl]="currentUser.picture" avatarClass="top-profile-avatar"></app-avatar>
</div>

<md-menu #toolbarUserMenu="mdMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="toolbar-user-menu">
    <md-card>
        <!--<md-card-title>Standard Card</md-card-title>-->
        <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->

        <md-card-content>
            <div class="row" >
                <div class="col-md-6">
                    <app-avatar [imageUrl]="currentUser.picture" [useRound]="true" size="100px"></app-avatar>
                </div>
                <div class="col-md-6">
                    <md-card-title>Standard Card</md-card-title>
                    <md-card-subtitle>Subtitle</md-card-subtitle>
                </div>
            </div>
        </md-card-content>

        <md-card-actions class="text-right">
            <button md-raised-button color="primary" class="z-depth-5" (click)="logout()">
                <i fa [name]="'sign-out'" [size]=1></i>Logout
            </button>
        </md-card-actions>
    </md-card>
</md-menu>