{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div id="status">
                    <code>{{ text }}</code>
                </p>
            </div>

            <div id="next">
                <h2>What's next?</h2>

            </div>

        </div>
    </div>
{% endblock %}

