<!--<md-nav-list>-->
  <!--<a class="mdl-navigation__link" [routerLink]="['/page/home']">-->
    <!--<i class="material-icons">dashboard</i>-->
    <!--Main</a><br>-->
  <!--<a class="mdl-navigation__link" [routerLink]="['/page/home1']">User files</a><br>-->
<!--</md-nav-list>-->
<nav>
  <ul class="sidebar-list">
    <li class="sidebar-list-item" *ngFor="let item of routes" (mouseover)="navExpand($event);">
      <a [routerLink]="[item.route]" routerLinkActive="active">
        <md-icon>{{item.icon}}</md-icon>
        <div>{{item.title}}</div>
      </a>
    </li>
  </ul>
  <!--<md-nav-list>-->
    <!--<md-list-item *ngFor="let item of routes">-->
      <!--<md-icon md-list-icon>{{item.icon}}</md-icon>-->
      <!--<span md-line [routerLink]="[item.route]" routerLinkActive="active"> {{item.title}} </span>-->
    <!--</md-list-item>-->
  <!--</md-nav-list>-->

</nav>

