<!--<md-nav-list>-->
  <!--<a class="mdl-navigation__link" [routerLink]="['/page/home']">-->
    <!--<i class="material-icons">dashboard</i>-->
    <!--Main</a><br>-->
  <!--<a class="mdl-navigation__link" [routerLink]="['/page/home1']">User files</a><br>-->
<!--</md-nav-list>-->


<div style="position: absolute;bottom: 5px;left:30px;">
<a (click)="changeLang('ru')" style="cursor: pointer;color: #fff;">RU</a>&nbsp;&nbsp;&nbsp;
<a (click)="changeLang('en')" style="cursor: pointer;color: #fff;">EN</a>
</div>
<nav>
  <ul class="sidebar-list">
    <li class="sidebar-list-item" *ngFor="let item of routes" (mouseover)="navExpand($event);">
      <a [routerLink]="[item.route]" routerLinkActive="active" *ngIf="item.route">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <div>{{item.title | translate}}</div>
      </a>

      <td-expansion-panel [expand]="expandPanel" *ngIf="item.expand">
        <ng-template td-expansion-panel-label>
          <md-icon md-list-icon>{{item.icon}}</md-icon> {{item.title | translate}}
        </ng-template>
        <ul class="sidebar-list" style="margin-top:0px;">
          <li class="sidebar-list-item" *ngFor="let i of item.items">
            <a [routerLink]="[i.route]" routerLinkActive="active" *ngIf="i.route">
              <md-icon>{{i.icon}}</md-icon>
              <div>{{i.title | translate}}</div>
            </a>
          </li>
        </ul>
      </td-expansion-panel>

    </li>
  </ul>
  <!--<md-nav-list>-->
    <!--<md-list-item *ngFor="let item of routes" >-->
      <!--<div routerLinkActive="active" md-line [routerLink]="[item.route]">-->
        <!--<md-icon md-list-icon>{{item.icon}}</md-icon>-->
      <!--<span > {{item.title | translate}} </span>-->
      <!--</div>-->

    <!--</md-list-item>-->

    <!--<td-expansion-panel [expand]="expandPanel">-->
      <!--<ng-template td-expansion-panel-label>-->
        <!--<md-icon md-list-icon>home</md-icon> home-->
      <!--</ng-template>-->
      <!--<md-list-item *ngFor="let item of routes" routerLinkActive="active" md-line [routerLink]="[item.route]">-->
        <!--<md-icon md-list-icon>{{item.icon}}</md-icon>-->
        <!--<span > {{item.title | translate}} </span>-->
      <!--</md-list-item>-->
    <!--</td-expansion-panel>-->

  <!--</md-nav-list>-->

</nav>

