<app-page-wrapper title="{{ 'CALENDAR_PAGE.MY_CALENDAR_TITLE' | translate }}">
        <div class="row">
            <div class="col-md-8">
                <app-fullcalendar
                        [options]="calendarOptions"
                        calendarClass="blurCalendar"
                        (onCalendarReady)="onCalendarReady($event)"
                        (onSelect)="onSelect($event)"
                        (onEventClick)="onEventClick($event)">

                </app-fullcalendar>
            </div>
            <div class="col-md-4">
                <div *ngIf="eventData">
                    <md-card >
                        <md-card-header>
                            <md-card-title>New event</md-card-title>
                            <md-card-subtitle>{{eventData.range | uppercase}}</md-card-subtitle>
                        </md-card-header>
                        <md-card-content>
                            <form #addForm="ngForm" novalidate>
                                <div class="form-group">
                                    <label>Title</label>
                                    <md-input-container>
                                        <input mdInput name="name" [(ngModel)]="name" required />
                                    </md-input-container>
                                </div>
                            </form>
                        </md-card-content>
                        <md-card-actions>
                            <button md-raised-button color="primary" (click)="submitAdd(addForm)">{{ 'BTN.ADD' | translate }}</button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div *ngIf="selectedEvent">
                    <md-card >
                        <md-card-header>
                            <md-card-title>Event info</md-card-title>
                            <md-card-subtitle>{{selectedEvent.title}}</md-card-subtitle>
                        </md-card-header>
                        <md-card-content>
                            <form #deleteForm="ngForm" novalidate>
                                <input type="hidden" name="id" [(ngModel)]="selectedEvent.id">
                            </form>
                        </md-card-content>
                        <md-card-actions>
                            <button md-raised-button color="warn" (click)="submitDelete(deleteForm)">{{ 'BTN.DELETE' | translate }}</button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
        <div class="row">
            <button md-raised-button color="primary" class="z-depth-5" (click)="refreshEvents()">
                REFRESH
            </button>
        </div>
</app-page-wrapper>