<md-toolbar color="primary">
    <md-icon class="app-sidenav-toggle" (click)="mainsidenav.toggle()">reorder</md-icon>
    <div class="project-title"><span>{{title}}</span>{{title2}} </div>

    <span class="app-toolbar-filler"></span>
    <div class="toolbar-icon">
        <a><i fa [name]="'bell-o'" [size]='107'></i><span>5</span></a>
        <a><i fa [name]="'envelope-o'" [size]='107'></i><span>2</span></a>
    </div>



    <!--<div class="notification-ring"></div>-->
    <app-user-menu [userPicture]="currentUser.picture"></app-user-menu>
</md-toolbar>
<md-sidenav-container>
    <md-sidenav #mainsidenav mode="side" opened="true">
        <app-sidebar></app-sidebar>
    </md-sidenav>
    <div class="app-content">
        <!--<ol class="breadcrumb">-->
            <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
            <!--<li class="breadcrumb-item"><a href="#">Library</a></li>-->
            <!--<li class="breadcrumb-item active">Data</li>-->
        <!--</ol>-->

        <!--<div class="row">-->
            <!--<div class="columns">-->
                <!--<button (click)="toggleMove()">Press me for animation</button>-->
            <!--</div>-->
            <!--<div class="columns">-->
                <!--<div id="content" [@focusPanel]='state'>Look at me animate</div>-->
            <!--</div>-->
        <!--</div>-->
        <router-outlet></router-outlet>



    </div>
</md-sidenav-container>


