<md-toolbar color="accent" >
    <md-icon class="app-sidenav-toggle" (click)="mainsidenav.toggle()">reorder</md-icon>
    <div class="project-title"><span>AIN</span>STAINER</div>
    <span class="app-toolbar-filler"></span>
    <div class="toolbar-icon">
        <a>
            <i fa [name]="'bell-o'" [size]='107'></i><span class="notify">5</span>
            <div class="notification-ring"></div>
        </a>
        <a>
            <i fa [name]="'envelope-o'" [size]='107'></i>
            <span class="messages">2</span>
            <div class="notification-ring"></div>
        </a>
    </div>
    <app-user-menu></app-user-menu>
</md-toolbar>
<md-sidenav-container>
    <md-sidenav #mainsidenav mode="side" opened="true">
        <app-sidebar></app-sidebar>
    </md-sidenav>
    <div class="app-content">
        <app-progress-bar></app-progress-bar>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>


