<div layout-align-gt-xs="left start" layout-gt-xs="row" class="profile-page">
    <div flex-gt-xs="80">
        <td-expansion-panel [expand]="expandPanel" (expanded)="expandedEvent()" (collapsed)="collapsedEvent()">
            <ng-template td-expansion-panel-label>
                <md-icon color="primary" svgIcon="assets:jira"></md-icon> JIRA ACCOUNTS
            </ng-template>
            <ng-template td-expansion-panel-sublabel>
                You have {{countActiveAccount}} active account(s)
            </ng-template>
            <md-list dense flex *ngIf="!isRequesting">
                <div *ngFor="let account of accounts; let i = index">
                    <md-divider md-inset></md-divider>
                    <a md-list-item>
                        <md-icon md-list-avatar>account_box</md-icon>
                        <div md-line>

                            <form *ngIf="!account.active" novalidate [formGroup]="account.form" (ngSubmit)="bindJira(account)">
                                <table>
                                    <tr>
                                        <td class="account-name">{{account.service | uppercase}}</td>
                                        <td>
                                            <md-input-container>
                                                <input mdInput formControlName="email"  placeholder="Email">
                                            </md-input-container>
                                        </td>
                                        <td>
                                            <md-input-container>
                                                <input mdInput formControlName="password" type="password" placeholder="Password">
                                            </md-input-container>
                                        </td>
                                        <td><button type="submit" md-raised-button color="primary" [disabled]="!account.form.valid" class="mat-raised-button_small_30">Bind</button></td>
                                    </tr>
                                </table>
                            </form>
                            <div *ngIf="account.active">
                                <table>
                                    <tr>
                                        <td class="account-name">{{account.service | uppercase}}</td>
                                        <td>
                                            <button md-raised-button color="warn" class="mat-raised-button_small_30" (click)="unbind(account)">Unbind</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <td-notification-count [notifications]="true"  [ngClass]="{'active-notifications': account.active}"></td-notification-count>
                    </a>
                </div>
            </md-list>
        </td-expansion-panel>
    </div>
</div>